a{
    color:grey;
    font-size:18px;
}
header {
    display:flex;
    width:90%;
    margin:0 auto;
    justify-content: space-evenly
    align-items: center;
}
ol {
    display: flex;
    justify-content: space-evenly;
    width: 380px;
}
